<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>4899968219-am0plvgd6192puee9utapsqd7c3cpbmu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.4899968219-am0plvgd6192puee9utapsqd7c3cpbmu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>4899968219-pc0hvl05bh0j3g8ia4ljm6h2e05sn8mt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDDSYPay1yDDpT9Bp4_Nhjc8D6xHEzYZDw</string>
	<key>GCM_SENDER_ID</key>
	<string>4899968219</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Easycode.Coco</string>
	<key>PROJECT_ID</key>
	<string>cocoapp-fdb5b</string>
	<key>STORAGE_BUCKET</key>
	<string>cocoapp-fdb5b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:4899968219:ios:df7eeec53e9ded1116e8fe</string>
</dict>
</plist>